@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype"); }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.home-block1 {
  background-color: #3BB9FF;
  height: 100vh; }

.home-header {
  background: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }

.home-header-container {
  display: flex;
  width: 100%;
  max-width: 1789px;
  margin: 36px auto 0 auto;
  justify-content: space-between; }

.home-header-container-right {
  display: flex; }

.home-header-burger {
  display: none;
  margin-left: 16px; }

.home-header-navlist {
  list-style: none;
  margin-right: 48px;
  display: flex; }

.home-header-navlist-item {
  padding: 0 18px; }

.home-header-navlist-item a {
  text-decoration: none;
  font-family: "Open-Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff; }

.home-header-account {
  display: flex;
  margin-right: 48px; }

.home-header-login a, .home-header-registration a {
  text-decoration: none;
  font-family: "Open-Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #0D477C; }

.home-header-login {
  margin-right: 10px; }

.home-header-registration::before {
  content: url(../img/icons/Line.png);
  height: 12px;
  width: 4px;
  font-weight: bold;
  margin-right: 10px; }

.home-header-bnt {
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid #FFFFFF;
  padding: 12px 60px; }

.home-header-order {
  position: relative; }

.home-header-bnt::after {
  content: url(../img/icons/white-horisontal.png);
  width: 20px;
  height: 3px;
  position: absolute;
  right: 0;
  top: 10px; }

.home-header-bnt {
  font-family: "Open-Sans";
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF; }

.home-intro-left-container {
  position: absolute;
  left: 64px;
  top: 12%; }

.home-intro-left-title {
  left: 64px;
  top: 200px;
  font-family: "Roboto-Black";
  font-weight: 900;
  font-size: 96px;
  color: #fff;
  line-height: 96px;
  letter-spacing: 0.1em;
  text-transform: uppercase; }
  .home-intro-left-title span {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; }

.home-intro-left-text {
  max-width: 600px;
  font-family: Roboto;
  font-style: normal;
  margin-left: 16%;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #fff; }

.home-intro-order-btn {
  padding: 14px 46px;
  background: transparent;
  border: none;
  position: relative;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  margin-left: 16%;
  margin-top: 60px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  border: 2px solid #FFFFFF; }

.home-intro-order-btn::after {
  content: url(../img/icons/white-horisontal.png);
  width: 20px;
  height: 3px;
  position: absolute;
  right: 0;
  top: 10px; }

.home-intro-right-img {
  width: 100%;
  max-width: 1323px;
  object-fit: cover; }

.home-intro {
  display: flex;
  justify-content: space-between; }

@media (max-width: 1789px) {
  .home-header-logo {
    margin-left: 15px; }
  .home-header-order {
    margin-right: 15px; } }

@media (max-width: 1407px) {
  .home-header-account {
    margin-right: 25px; }
  .home-header-navlist {
    margin-right: 20px; } }

@media (max-width: 1311px) {
  .home-header-navlist-item {
    padding: 0 10px; } }

@media (max-width: 1220px) {
  .home-header-container-right {
    display: none; }
  .home-header-logo {
    display: block;
    margin: 0 auto; }
  .home-header-container-left {
    width: 100%;
    display: flex; }
  .home-header-burger {
    display: block; } }

@media (max-width: 390px) {
  .home-header-logo {
    width: 134.8px;
    height: 24px; } }

.header-second {
  background-color: #3BB9FF; }

.header-second-container {
  width: 100%;
  max-width: 1792px;
  margin: 0 auto;
  padding: 24px 0;
  justify-content: space-between;
  display: flex; }

.header-second-right {
  display: flex; }

.header-second-right-navigation {
  display: flex;
  list-style: none; }

.header-sec-nav-item a {
  text-decoration: none;
  font-family: "Open-Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 0 10px;
  text-transform: uppercase;
  color: #FFFFFF; }

.header-second-account {
  display: flex;
  margin-right: 48px; }

.header-second-right-navigation {
  margin-right: 48px; }

.header-second-login {
  font-weight: bold;
  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  margin-right: 10px; }

.header-second-login a, .header-second-registration a {
  text-decoration: none;
  color: #0D477C; }

.header-second-registration {
  font-weight: bold;
  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase; }

.header-second-registration::before {
  content: url(../img/icons/Line.png);
  height: 12px;
  width: 4px;
  font-weight: bold;
  margin-right: 10px; }

.header-second-burger {
  display: none; }

.header-second-order-btn {
  background: transparent;
  position: relative;
  border: none;
  border: 2px solid #FFFFFF;
  padding: 12px 60px;
  outline: none;
  font-family: "Open-Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF; }

.header-second-order-btn::after {
  content: url(../img/icons/white-horisontal.png);
  width: 20px;
  height: 3px;
  position: absolute;
  right: 0;
  top: 10px; }

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  background: #0D477C;
  opacity: 0.94;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s; }

.overlay-content {
  width: 75%;
  height: inherit;
  height: 100vh;
  background-color: #3BB9FF;
  background-image: url(../img/burger-bg.png);
  background-position: top right;
  background-size: cover;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.15); }

.closebtn img {
  width: 20px;
  margin-left: 20px;
  margin-top: 25px;
  height: 20px; }

.overlay-account {
  list-style: none;
  padding-left: 20px;
  margin-top: 50px; }
  .overlay-account .overlay-account-item {
    margin-top: 20px; }
  .overlay-account .overlay-account-item a {
    text-decoration: none;
    font-family: "Open-Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #0D477C; }

.overlay-button {
  margin-left: 20px;
  position: relative;
  padding: 12px 60px;
  margin-top: 48px;
  margin-bottom: 52px;
  border: none;
  background: transparent;
  border: 2px solid #FFFFFF; }

.overlay-button::after {
  content: url(../img/icons/white-horisontal.png);
  width: 20px;
  height: 3px;
  position: absolute;
  right: 0;
  top: 13px; }

.overlay-button a {
  text-decoration: none;
  font-family: "Open-Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF; }

.overlay-nav {
  list-style: none;
  margin-top: 45px;
  padding-left: 20px; }

.overlay-content-item {
  margin: 22px 0;
  height: 24px; }

.overlay-content-item a {
  text-decoration: none;
  font-weight: 600;
  font-family: "Open-Sans";
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF; }

.faq-intro {
  width: 100%;
  max-width: 1749px;
  margin: 0 auto; }

.breadcrumb {
  padding: 10px 16px 10px 5px;
  list-style: none; }

.faq-title {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #3BB9FF; }
  .faq-title span {
    margin-right: 20px; }

.faq-title::before {
  content: '';
  width: 36px;
  height: 1px;
  border-bottom: solid 1px #eee;
  margin-left: 0;
  margin-top: 50px;
  z-index: 1; }

.faq-container {
  width: 100%;
  max-width: 1188px;
  margin: 0 auto 80px auto; }

.breadcrumb li {
  display: inline;
  font-family: "Roboto";
  font-size: 12px; }

.breadcrumb li a {
  color: #3BB9FF;
  text-decoration: none; }

.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0"; }

.faq-line {
  width: 100%;
  max-width: 1188px; }

.faq-item-name {
  display: flex; }

.faq-item-name-num {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #3BB9FF; }

.faq-item-name-title {
  margin-left: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #3E3E3E; }

.faq-item-name-text {
  font-family: "Roboto";
  margin-left: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #676767;
  max-width: 1152px; }

.faq-line-small {
  width: 18px;
  margin: 0 0 0 14px;
  border: 1px solid #3BB9FF;
  background-color: #3BB9FF; }

.buy-block-container {
  position: relative; }

.buy-block {
  overflow: hidden;
  display: flex;
  width: 100%;
  padding: 100px 0px;
  justify-content: space-between;
  align-items: center;
  background-image: url(../img/paralax-bg.svg);
  background-repeat: no-repeat;
  background-position-x: right; }

.buy-block::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(101.01deg, #D1EFFF -13.73%, #3BB9FF 105.43%);
  opacity: 0.7; }

.buy-sites {
  font-family: "Roboto-Black";
  font-style: normal;
  font-weight: 900;
  z-index: 10;
  position: relative;
  font-size: 64px;
  margin-left: 67px;
  color: #fff;
  line-height: 72px;
  letter-spacing: 0.1em;
  text-transform: uppercase; }
  .buy-sites span {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white; }

.buy-block-btn {
  background: transparent;
  z-index: 10;
  position: relative;
  border: none;
  width: 284px;
  margin-right: 64px;
  color: #FFF;
  border: 2px solid #FFF;
  padding: 14px 47px;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 36px; }

.buy-block-btn::after {
  content: url(../img/icons/white-horisontal.png);
  width: 20px;
  height: 3px;
  position: absolute;
  right: 0;
  top: 10px; }

.footer {
  width: 100%;
  max-width: 1789px;
  margin: 0 auto; }

.footer-first {
  display: flex;
  margin-top: 48px;
  justify-content: space-between; }

.footer-first-left-text {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  max-width: 578px;
  font-family: "Roboto";
  text-transform: uppercase;
  color: #333333; }

.footer-nav-first {
  list-style: none;
  display: flex;
  margin-top: 3px; }

.footer-first-right-lists {
  display: flex; }

.footer-nav3-link {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: #3E3E3E; }

.footer-nav2 {
  display: flex;
  margin: 0;
  justify-content: start;
  padding-left: 0;
  align-items: flex-start;
  list-style: none; }

.footer-nav2-item {
  padding: 0 18px; }

.footer-nav2-item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  max-width: 578px;
  font-family: "Roboto";
  text-transform: uppercase;
  color: #333333;
  font-family: "Roboto"; }

.footer-nav-item {
  padding: 0 18px; }

.footer-nav-item a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333; }

.footer-second {
  font-style: normal;
  font-weight: normal;
  margin-top: 54px;
  font-size: 12px;
  line-height: 18px;
  font-family: "Roboto";
  color: #828282; }

@media (max-height: 712px) {
  .footer-nav3-link {
    padding-right: 15px; } }

@media (max-width: 1800px) {
  .footer-first-left-text {
    margin-left: 10px; }
  .footer-second {
    margin-left: 10px; } }

@media (max-width: 1789px) {
  .header-second-order-btn {
    margin-right: 10px; }
  .footer-first-right-lists {
    margin-right: 10px; } }

@media (max-width: 1349px) {
  .footer-nav-item {
    padding: 0 10px; }
  .footer-nav2-item {
    padding: 0 10px; } }

@media (max-width: 1226px) {
  .footer-first-left-text {
    max-width: 450px; } }

@media (max-width: 1240px) {
  .header-second-account {
    margin-right: 20px; }
  .header-second-order-btn {
    margin-right: 10px; }
  .header-second-right-navigation {
    margin-right: 14px; } }

@media (max-width: 1185px) {
  .faq-container {
    width: 96%; }
  .header-second-right {
    display: none; }
  .header-second-burger {
    display: block;
    margin-left: 16px; }
  .header-second-logo {
    display: block;
    margin: 0 auto; }
  .header-second-left {
    display: flex;
    width: 100%; } }

@media (max-width: 1097px) {
  .footer-first {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer-first-left-text {
    max-width: 676px; }
  .footer-nav-first {
    padding-left: 0;
    flex-direction: column; }
  .footer-nav2 {
    flex-direction: column; }
  .footer-first-right {
    width: 100%;
    max-width: 686px;
    margin: 0 auto; }
  .footer-first-right-lists {
    width: 100%;
    margin-top: 36px;
    justify-content: space-between; }
  .footer-nav-item {
    padding: 2px 10px; } }

@media (max-width: 420px) {
  .header-second-logo {
    width: 134.88px; } }

@media (max-height: 568px) {
  .overlay-button {
    margin-top: 22px; } }

.traffic-intro {
  background-color: #272425; }

.terms-intro {
  width: 100%;
  max-width: 1789px;
  margin: 0 auto; }

.terms-dreadcrums {
  padding: 0;
  list-style: none; }

.terms-dreadcrums li {
  display: inline;
  font-size: 12px;
  font-family: "Roboto"; }

.terms-dreadcrums li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0"; }

.terms-dreadcrums li a {
  color: #3BB9FF;
  text-decoration: none; }

#breadcrums-active {
  color: #828282; }

.terms-title {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #3BB9FF; }
  .terms-title span {
    margin-right: 10px; }

.terms-container {
  width: 100%;
  max-width: 1205px;
  margin: 0 auto 80px auto; }

.terms-container-item {
  display: flex;
  justify-content: start;
  align-items: flex-start; }

.terms-container-item-num {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-top: 21px;
  line-height: 30px;
  color: #3BB9FF; }

.terms-container-item-second {
  margin-left: 14px; }

.terms-container-item-name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #3E3E3E; }

.terms-container-item-line {
  width: 18px;
  border: 1px solid #3BB9FF;
  background-color: #3BB9FF;
  margin: 0; }

.terms-container-item-text {
  margin-top: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #676767; }

.order-body {
  background: #E5E5E5; }

.login-body {
  background-color: #3BB9FF; }

.login-window-container {
  background-color: #fff;
  display: block;
  margin: 0 auto;
  max-width: 584px;
  margin-top: 210px; }

.login-window {
  padding: 64px 82px 48px 82px; }

.login-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #3E3E3E; }

.login-email-container, .login-pass-container {
  position: relative; }

.login-email-container > label, .login-pass-container > label {
  position: absolute;
  font-family: "Roboto";
  padding: 0 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #828282;
  top: -6px;
  left: 20px;
  background-color: white; }

.login-email-container > input, .login-pass-container > input {
  width: 100%;
  border: none;
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  padding-top: 17px;
  outline: none;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 13px;
  padding-left: 16px; }

.login-email-container > input:focus, .login-pass-container > input:focus {
  border: 1px solid #3BB9FF; }

.login-email-container > input:focus .login-email-container > label {
  color: #3BB9FF; }

.login-pass-container {
  margin-top: 34px; }

.log-in-btn {
  width: 105%;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 36px;
  background: #3BB9FF;
  border: none;
  padding: 15px 190px; }

.forgot-pass {
  padding-top: 36px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-family: "Open-Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #3BB9FF; }

.wt-acc {
  margin-top: 36px;
  text-align: center;
  font-size: 15px;
  font-family: "Roboto"; }
  .wt-acc a {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #3BB9FF; }
